body {
    padding: 0px;
    margin: 0px;
}
.header1 {
    background-image: url(../img/Layer\ 21.png);
    width:100%; 
    height:600px;
}
.head {
    color: #ffffff;
    font-size: 48px;
}

.head2 {
    color: #ffffff;
}

.head3 {
    border: 1px solid #ffffff;
    background-color: rgba(0,0,0, 0.3);
    width: 600px;
    height: 80px;
    font-size: 54px;
    text-align: center;
    color: #ffffff;
}

span {
    color: yellow;
}

.info-block {
    padding: 300px 0px 0px 150px;

}
.name-title{
    color:
    #333333;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}

.title-description{
    color:#4d4943;
    font-size: 17px;
}

div{
    text-align: center;
}

hr{
    margin: 70px auto;
    background-color: #f1ad1d;
    width: 60px;
    height: 3px;
    border: 0px;
}

.menu-log {
    color: orange;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 900;
    font-family: sans-serif; 
    text-align: left;
    display: inline-block;
    width: 150px
}
.menu {
width: 1200px;
margin: 0 auto;
}

.menu-list {
    display: inline-block;
    text-align: right;
    width: 1000px;
}
 .menu-item {
    display: inline-block;
    margin-right: 50px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500
     }
 .menu-item:hover{
  color: yellow;
 }    
.menu-item-color {
    color: orange;
}

 .line {
    width: 90%;
    background-color: orange; 
    height: 3px;
    border: none;
 }
 .block {
    width: 70%;
    margin: 0 auto;
 }

 .images-blok {
 display: inline-block;
 }

 .blok-text {
    text-align: right;
    width: 35%;
    display: inline-block;
    box-sizing: border-box;
 }

 .blok-text1 {
  text-align: left;
  text-transform: uppercase;
  color: orange;
  font-weight: bold;
 }

 .black {
    color: black;
 }
 .blok-text2 {
   text-align: justify; 
 }
 .button-block {
    background-color: orange;
    width: 176px;
    height: 51px;
    text-align: center; 
    font-weight: 600;
    
 }
 .button-text {
   color: white;
 }
 .new-blok {
 background-image: url(../img/Layer\ 22.png);
 padding-top: 100px;
 padding-bottom: 50px;
 background-size: 100% 100%;
 background-repeat: no-repeat;
 box-sizing: border-box;
  margin-top: 90px;
 }
 .text3{
  text-align: right;
  display: inline-block;  
 }
 .text-color1 {
   text-align: center;
  text-transform: uppercase;
  color: white; 
 }

 .container-2 {
    width: 1170px;
   margin: 0 auto;
   }

 .stuff {
    float: left;
   width: 193px;
   height: 178px;
   margin: 1px;
   background-size: 100% 100%;
   background-repeat: no-repeat;
 }
  .person1 {
   background-image: url(../img/Person\ 1.png);} 
   .person2 {
   background-image: url(../img/Person\ 2.png);} 
   .person3 {
   background-image: url(../img/Person\ 3.png);} 
   .person4 {
   background-image: url(../img/Person\ 4.png);} 
   .person5 {
   background-image: url(../img/Person\ 5.png);} 
   .person6 {
   background-image: url(../img/Person\ 6.png);}
   .person7 {
   background-image: url(../img/Person\ 7.png);}
   .person8 {
   background-image: url(../img/Person\ 8.png);}
   .person9 {
   background-image: url(../img/Person\ 9.png);}
   .person10 {
   background-image: url(../img/Person\ 10.png);}
   .person11 {
   background-image: url(../img/Person\ 11.png);}
   .person12 {
   background-image: url(../img/Person\ 12.png);}
   
  .container-c {
    clear: both; 
    margin-top: 507px;  
   }  


.card-info {
    float: left;
    margin-right: 28px;
}

.card-info_margin-position {
    margin-right: 0;
}

.title-f__block {
    background-color:  #333333;
    width: 271px;
    height: 56px;
}
.title-f_text {
    color: white;
}

.logo-offer {
    width: 50px;
    height: 50px;
    margin: auto;
    margin-top: 30px;
}

.image_w{
  width:50px;
  height: 50px;
}

.description-header {
    margin-top: 20px;
    width: 271px;
    height: 56px;
}

.uppercase {
    text-transform: uppercase;
    color: black;
}

.description-footer {
    font-size: 24px;
    text-align: center;
}

.description_footer_text {
    text-transform: capitalize;
    border-bottom: 3px solid black;
    padding-bottom: 30px;
}

.black-line {
    width: 100%;
    height: 3px;
    background-color: black;
}

.text-on-background {
  position: relative;
  clear: both;
 background-image: url(../img/Layer\ 21.png);
 width: 1300px;
height: 475px;
padding-top: 100px;
}

.text55 {
 font-family: Montserrat;
color:  #ffffff;
text-transform: uppercase;
font-size: 40px;
font-weight: 120;
text-align: center;
padding-top: 80px;
}
.foto-blok {
float: left;
margin-left: 150px;
margin-bottom: 30px;
}

.foto {
 width: 200px;
 height: 50px; 
 padding-left: 10px;
}

